:root{
    /* colors */
    --White: #FFFFFF;
    --Gray01: #DEDEDE;
    --Blue01: #8EB4D9;
    --Blue02: #0B71D7;
    --Blue03: #44688B;
    --Blue04: #023850;
    --Blue05: #091454;

    /* fonts*/
    --Cinzel: "Cinzel", serif;
    --Josefin: "Josefin Sans", sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body{
    background-color: var(--Blue02);
    overflow-x: hidden;
}

/* Header Section */
.header-js{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

/* Header Left Section */
.left{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
} 

.logo-area{
    background: url("../../image/logo-bg.svg") no-repeat left top;
    background-size: contain;
    width: 12.542vw;
}

.logo-padding{
    position: relative;
    padding-top: 40%;
}

.logo-body{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.logo{
    display: inline-block;
    width: 5.5555555556vw;
    margin: 0.875rem 0 0 1.5rem;
}

.logo .img{
    display: block;
    width: 100%;
}

/* Header Right Section */

.right{
    position: absolute;
    top: 0.875rem;
    right: 2.5rem;
}

.menu-btn{
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 50%;
    background: #fff;
    border: 1px solid var(--Blue01);
}

.menu-btn:focus{
    outline: none;
}

.menu-btn:hover{
    background-color: var(--Blue01);
}

.menu-btn:hover .ri-menu-line{
    color: #fff;
}

.ri-menu-line{
    font-size: 1rem;
    color: var(--Blue01);
}

/* Main Section */

/* Banner Section */
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.banner .bg1{
    background: url("../../image/background.svg") no-repeat center center;
}

.banner .bg2{
    background: url(../../image/cliff.svg) no-repeat center center;
}

/* Media query */
@media screen and (min-width: 1920px) {
    .logo{
        margin: 1.1375rem 0 0 1.95rem;
    }

    .right{
        top: 1.1375rem;
        right: 3.25rem;
    }

    .menu-btn{
        width: 3.0875rem;
        height: 3.0875rem;
    }

    .ri-menu-line{
        font-size: 1.3rem;
    }

    .banner .bg{
        position: absolute;
        background-size: 100%;
    }

    .banner .bg-txt{
        top: 72%;
        gap: 1.3rem;
    }

    .bg-txt .banner-title{
        font-size: 8rem;
    }

    .bg-txt .banner-sub-title{
        font-size: 2rem;
    }

    .bg-txt .line{
        height: 11rem;
    }

    .bg-txt .tips-txt{
        font-size: 1.56rem;
    }

    .sdgs{
        padding: 19.5rem 9.75rem 25.65rem 9.75rem;
    }

    .sdgs-txt-wrapper{
        max-width: 65rem;
    }

    .sdgs-txt-wrapper .sdgs-txt{
        font-size: 3.445rem;
        line-height: 4.496375rem;
        letter-spacing: 0.24375rem;
    }

    .sdgs-txt-wrapper .sdgs-source{
        font-size: 1.5rem;
    }

    .padding{
        padding: 0 8.125rem;
        top: 1.56rem;
    }

    .perpetrator-title{
        font-size: 5.85rem;
        padding: 7.8rem 0 2.99rem 0;
    }

    .details {
        gap: 1.95rem;
    }

    .plastic-title{
        font-size: 4.55rem;
    }

    .plastic-txt{
        font-size: 1.95rem;
    }

    .plastic-btn{
        padding: 1.3rem 2.6rem;
        font-size: 1.3rem;
        border-radius: 130px;
    }
}
