/*Donation Page*/
.donate-page{
  position: relative;
}

.show {
  display: flex;
  flex-direction: column;
  margin-left: -10%;
}

.menu-btn{
  z-index: 6;
  margin-top: -.6rem;
}

.openAnimation {
  display: block;
  animation: open ease-out 0.1s;
}

.closeAnimation {
  display: none;
}

#dropdownNavbar {
  display: none;
}

#dropdownNavbar.dropdownNavbarshow {
  display: block;
  position: absolute;
}

@keyframes open {
  from {
    opacity: 0;
    display: none;
    transform: scale(0.95);
  }

  to {
    opacity: 100;
    display: block;
    transform: scale(1);
  }
}

.ri-stethoscope-line,
.ri-recycle-line,
.ri-speak-line {
  font-size: 2rem;
}

.main-page-menu{
  position: absolute;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 769px){
  .show{
    display: flex;
    flex-direction: column;
    margin-left: -10%;
    position: absolute;
    margin: 7rem -1% 0 0;
    background-color: white;
    border-radius: 1rem;
    width: 90%;
    z-index: 5;
    padding: 2rem 2rem .5rem 2rem;
    animation: open ease-out 0.1s;
    box-shadow: -5px .8rem 1.2rem 0 rgb(0, 0, 0, .2);
  }

  nav{
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100%;
    margin-left: -4rem;
  }
  .main-page-menu li{
    color: var(--Blue04)
  }
  .main-page-menu .main-page-line{
    background-color: var(--Blue04);
  }
} 

@media screen and (max-width: 361px){
  nav{
    margin-left: -2.2rem;
  }
}