/* :root {
  --White: #ffffff;
  --Gray01: #dedede;
  --Blue01: #8eb4d9;
  --Blue02: #0b71d7;
  --Blue03: #44688b;
  --Blue04: #023850;
  --Yellow: #f7d55b;
  --x: 1200px;
  --Cinzel: "Cinzel", serif;
  --Josefin: "Josefin Sans", sans-serif;
} */

/*donate-section*/
/* .donate-section {
  margin-top: 4.5rem;
}
.sub-donate-section .left h1 {
  font-size: 2.5rem;
  margin-bottom: 0rem;
  margin-left: 1.3rem;
}

.donate-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sub-donate-section {
  width: 65%;
  display: flex;
  gap: 2%;
  justify-content: space-between;
}

.donate-main {
  background-color: var(--White);
  border-radius: 3rem;
  padding: 0.8rem 2rem 0.8rem 2rem;
  height: 26rem;
  width: 17.5rem;
  box-shadow: 0 0 0.2rem 0.01rem var(--Blue01);
}
.donate-main form {
  line-height: 2rem;
}
 */

.link:hover .line {
  animation: lineThrough 1s both;
}

.inline-grid > li {
  opacity: 0.8;
  text-decoration: underline;
}

.inline-grid > li:hover {
  opacity: 1;
  transform-origin: left;
  transform: scale(1.2);
}

.social-logos > a {
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #4881bb;
  border-radius: 50%;
}

.social-logos > a:hover {
  background-color: #8eb4d9;
  transform: scale(1.2);
}

.social-logos > a i {
  font-size: 1.5rem;
}
.footer-widget-title h3::after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 0.5rem;
}

@keyframes lineThrough {
  form {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

input::placeholder {
  font-size: 14px;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.invisible {
  display: none;
}

.progress li.active {
  background-color: #0b71d7;
}

input:focus {
  border: 1px solid #8eb4d9;
}

.money-field:disabled {
  opacity: 0.5;
}

.wall {
  position: absolute;
  margin-top: 0rem;
  height: 3rem;
  width: 15rem;
  margin-left: 0.5rem;
  background-color: #ccc;
  opacity: 0;
}

.material-symbols-outlined {
  font-size: 2rem !important;
  color: #0b71d7;
}

@media screen and (max-width: 768px) {
  .material-symbols-outlined {
    font-size: 1.5rem !important;
  }
}

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  color: var(--Blue03);
}

ul li {
  background: var(--Gray01);
  padding: 10px 15px;
  margin-left: 6px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}



input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
  box-sizing: border-box;
  border: 2px solid var(--Gray01);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 0.5rem;
}



.name-input {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}
.name-space input {
  width: 100%;
}
.btnn {
  font-family: var(--Josefin);
  padding: 0.7rem;
  background: var(--White);
  color: var(--Blue03);
  border-radius: 3rem;
  border: none;
  box-shadow: 0 0 0.5rem 0.05rem var(--Gray01);
  cursor: pointer;
  margin: 1rem 0 2rem 0;
  width: 100%;
  text-align: center;
}
.btnn:hover {
  background-color: var(--Blue02);
  color: var(--White);
}
.btn2 {
  display: flex;
  justify-content: space-between;
  margin-top: 2.36rem;
}
.section-two .btnn {
  width: 45%;
}

button:disabled,
button[disabled] {
  cursor: auto;
  opacity: 0.5;
}
button:hover:disabled {
  background-color: var(--White);
  color: var(--Blue03);
}
.wall {
  position: absolute;
  margin-top: -3rem;
  height: 3rem;
  width: 9rem;
  margin-left: 4.5rem;
  background-color: #ccc;
  opacity: 0;
}
.section-two h3 {
  margin-top: 2rem;
  margin-bottom: 0;
}
.select-money-field {
  display: flex;
  justify-content: space-between;
}
.select-money {
  height: 5.4rem;
  width: 5.4rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--White);
  cursor: pointer;
  margin: 2rem 0 2rem 0;
}


#selection-1 {
  background-color: var(--Gray01);
}
#selection-2 {
  background-color: var(--Gray01);
}
#selection-3 {
  background-color: var(--Gray01);
} */

/* @supports (animation: grow 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards) {
  .tick {
    stroke-opacity: 0;
    stroke-dasharray: 27px;
    stroke-dashoffset: 27px;
    stroke-width: 4px;
    animation: draw 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards;
    animation-delay: 0.6s;
  }

  .circle {
    fill-opacity: 0;
    stroke: var(--Blue02);
    stroke-width: 1rem;
    transform-origin: center;
    transform: scale(0);
    animation: grow 1s cubic-bezier(0.25, 0.25, 0.25, 1.25) forwards;
  }
}

@keyframes grow {
  60% {
    transform: scale(0.4);
    stroke-width: 0.3rem;
    fill-opacity: 0;
  }
  100% {
    transform: scale(0.55);
    stroke-width: 1rem;
    fill-opacity: 1;
    fill: var(--Blue02);
  }
}

@keyframes draw {
  0%,
  100% {
    stroke-opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.section03-content {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/*right*/
/* .num-data img {
  height: 35rem;
}
.num-data #doc {
  display: flex;
  position: absolute;
  font-size: 3.5rem;
  color: var(--Blue03);
  margin-top: -20rem;
  margin-left: 17.5rem;
} */
