:root{
    --White: #FFFFFF;
    --Gray01: #DEDEDE;
    --Blue01: #8EB4D9;
    --Blue02: #0B71D7;
    --Blue03: #44688B;
    --Blue04: #023850;
    --Yellow: #F7D55B;
    --x: 1200px;

    /* fonts*/
    --Cinzel: "Cinzel", serif;
    --Josefin: "Josefin Sans", sans-serif;
}

html,body{
    font-size: 16px;
}

body{
    background-color: var(--Gray01);
    font-family: var(--Josefin);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}
main{
    width: 100%;
}
h2{
    color: var(--Blue03);
}
h1, h3{
    color: var(--Blue04);
}
button{
    margin-top: 1rem;
    background-color: var(--Blue01);
    border: none;
    font-size: 1rem;
    font-family: var(--Josefin);
    color: var(--Blue04);
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: var(--Blue03);
    color: var(--White);
}
a{
    text-decoration: none;
    color: var(--Blue04);
}
a:hover{
    color: var(--White);
}
span{
    gap: .5rem;
}
.main{
    transition: .3s ease;
}
.main-active{
    transition: .3s ease;
    pointer-events: auto;
}
.main-active{
    filter: blur(15px);
    pointer-events: none;
}
.container{
    display: flex;
    height: 100vh;
    width: 200%;
}
.home{
    position: relative;
    left: -49%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.home .right{
    width: 40rem;
}
.home .left{
    width: 36rem;
}
.left .box{
    height: 27rem;
    width: 24rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--White);
    color: var(--Blue03);
}
.left .sub_title{
    font-size: 1.5rem;
    color: var(--Blue01);
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: dashed 2px var(--Blue01);
    margin-bottom: 1rem;
}
.left .data{
    display: flex;
    justify-content: space-between;
}
.data .left, .right{
    width: 45%;
}
.left li{
    margin: 1.3rem 0;
    list-style: none;
}
.data_num .number{
    margin-right: 3rem;
}
.left span{
    padding-right: .5rem;
}
.left .list_name{
    margin-left: 2rem;
}
.list_point_container{
    text-align: right;
    width: 40rem;
}

.home .title{
    font-size: 5rem;
    margin-bottom: 0;
}
.home-content{
    max-width: 30rem;
    display: flex;
    flex-direction: column;
}
.home .start-btn{
    margin-left: 23rem;
}
.home-bg{
    position: absolute;
    z-index: -10;
}
.circle-1{
    height: 100rem;
    width: 100rem;
    background-color: var(--White);
    border-radius: 45rem;
    box-shadow: 0 0 .5rem 3px var(--Blue03);
    margin-top: 78rem;
    animation:move 20s linear infinite;
    opacity: .5;
}
.circle-2{
    height: 90rem;
    width: 90rem;
    background-color: var(--Blue01);
    border-radius: 42rem;
    box-shadow: 0 0 .5rem 3px var(--Blue03);
    margin-top: -97rem;
    margin-left: -17rem;
    rotate: 80deg;
    animation:move 15s linear infinite;
}
@keyframes move{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
.popup-info, .popup-info2{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 15rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    opacity: 0;
    transform: scale(.9) translate(-50%, -50%);
    pointer-events: none;
    padding: 3rem 2rem;
    border-radius: 3rem;
    transition: .2s ease;
}

.popup-info h2{
    margin-top: 0;
    text-align: center;
}
.popup-info-active, .popup-info2-active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translate(-50%, -50%);
}
.popup-info .info{
   margin-bottom: 1rem;
   display: flex;
}
.popup-info .sub_title{
    margin-top: 1rem;
    font-size: 1rem;
}

.popup-info .btn-group{
    display: flex;
    justify-content: space-between;
}
.popup-info2 .btn-group{
    display: flex;
    justify-content: space-between;
}

.name_input{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.name_input label{
    color:var(--Blue01);
    font-size: 1.5rem;
}
.popup-info2 p{
    color: var(--Yellow);
    font-size: 1rem;
    text-align: center;
}

input{
    border: solid 1px var(--Blue03);
    border-radius: .3rem;
    padding: .5rem 1rem;
}
input::placeholder {
    font-size: 14px;
    color: var(--Gray01);
}
input:focus {
    border: solid 2px var(--Blue01);
}


  /*quiz*/
.quiz-section{
    position: relative;
    left: -60%;
    width: 100%;
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
}
.quiz-section-active{
    left: 0;
}
.quiz-section .quiz-box{
    position: relative;
    width: 40rem;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: 3s ease;
    transition-delay: 0s;
}
.quiz-section .quiz-box-active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}
.quiz-section h1{
    text-align: center;
}
.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}
.quiz-header span{
    font-weight: 500;
}
.quiz-header .sub_title{
    font-size: 1.5rem;
    color: var(--Blue01);
    font-weight: 600;
}
.quiz-header .header-score{
    background-color: var(--Blue03);
    color: var(--White);
    padding: .5rem 1rem;
    border-radius: 1rem;
}
.option{
    padding: .8rem;
    width: 100%;
    background-color: white;
    cursor: pointer;
    margin: 0.5rem 0;
    border-radius: 1rem;
    transition: .1s ease;
    transform: scale(.95);
}

.option:hover{
    background-color: var(--Blue02);
    color: var(--White);
    transform: scale(1);
}
.option-list{
    height: 13rem;
}
.option-list .correct{
    background-color: transparent;
    color: green;
    border: 1px solid green;
}
.option-list .incorrect{
    background-color: transparent;
    color: red;
    border: 1px solid red;
}
.option-list .option-disabled{
    pointer-events: none;
}
.nextbtn-disabled{
    pointer-events: none;
    opacity: 0.5;
}

.quiz-section .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 30rem;
    height: 20rem;
    background-color: var(--White);
    border-radius: 3rem;
    color: var(--Blue03);
    box-shadow: 0 0 1rem 2px var(--Gray01);
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.score-text{
    margin-top: 1rem;
}
.quiz-section .result-box-active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.quiz-section .result-box .buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.quiz-footer{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quiz-footer .next-btn{
    margin-top: 0;
}
.quiz-footer .question-total{
    color: var(--Blue01);
    font-size: 1.2rem;
    font-weight: 600;
}

.result-box .percentage-container{
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.percentage-container .circular-progress{
    position: relative;
    width: 9rem;
    height: 9rem;
    background: conic-gradient(#90ee90 3.6deg, rgba(255, 255, 255, .1) 0deg);
    border-radius:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage-container .circular-progress::before{
    content:'';
    position: absolute;
    width: 7rem;
    height: 7rem;
    background: var(--White);
    border-radius: 50%;
}
.circular-progress .progress-value{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
}

.continueBtn-disable{
    pointer-events: none;
    opacity: .5;
}

@media screen and (max-width: 769px) {
    .container {
        width: 100%;
        overflow: hidden;
    }
    .quiz-section {
        left: -90%;
    }
    .quiz-section-active {
        left: 0;
        padding: 3rem;
    }

    .home {
        left: -67%;
    }
    .home .left {
        width: 0;
        margin-bottom: -20rem;
    }
    .home .right {
        margin-top: -35rem;
    }
    .home-content {
        max-width: 25rem;
    }
    .home .start-btn {
        margin-left: 18rem;
    }
}

@media screen and (max-width: 321px) {
    .quiz-section {
        left: -105%;
    }
    .quiz-section-active {
        left: 0;
        width: 16rem;
        padding: 2rem;
    }
    .question-text{
        font-size: 1.3rem;
    }
    .quiz-section .result-box{
        width: 16rem;
    }
    .home {
        left: -85%;
        margin-top: -1rem;
    }
    .home .title {
        font-size: 4rem;
        margin-bottom: -.2rem;
    }
    .left .box {
        height: 12rem;
        width: 10rem;
    }
    .left .sub_title {
        margin-bottom: 0;
        padding-bottom: .5rem;
        font-size: 1rem;
    }
    .box .data{
        height: 12rem;
        overflow: hidden;
        font-size: .65rem;
    }
    .data .data_num{
        width: 2.5rem;
    }
    .left .list_name {
        margin-left: 2.5rem;
    }
    .home .right {
        margin-top: -21rem;
        width: 13rem;
    }
    .home .start-btn {
        margin: 0 0 1rem 6rem;
        width: 7rem;
    }
    .popup-info, .popup-info2{
        width: 15rem;
        height: 19rem;
    }
    .popup-info2 .name_input{
        flex-direction: column;
    }
    
}