:root{
    --White: #FFFFFF;
    --Gray01: #DEDEDE;
    --Blue01: #8EB4D9;
    --Blue02: #0B71D7;
    --Blue03: #44688B;
    --Blue04: #023850;
    --Yellow: #F7D55B;
    --x: 1200px;

    /* fonts*/
    --Cinzel: "Cinzel", serif;
    --Josefin: "Josefin Sans", sans-serif;
}

html,body{
    font-size: 16px;
}

body{
    background-color: var(--Gray01);
    font-family: var(--Josefin);
    height: 100vh;
    overflow: hidden;
}
main{
    width: 100%;
}
h2{
    color: var(--Blue03);
}
h1, h3{
    color: var(--Blue04);
}
button{
    margin-top: 1rem;
    background-color: var(--Blue01);
    border: none;
    font-size: 1rem;
    font-family: var(--Josefin);
    color: var(--Blue04);
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: var(--Blue03);
    color: var(--White);
}
a{
    text-decoration: none;
    color: var(--Blue04);
}
a:hover{
    color: var(--White);
}
span{
    gap: .5rem;
}
.main-active{
    transition: .3s ease;
    pointer-events: auto;
}
.main-active{
    filter: blur(15px);
    pointer-events: none;
}
.container{
    display: flex;
    height: 100vh;
    width: 200%;
}
.home{
    position: relative;
    left: -45%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home .title{
    margin-left: -20rem;
    font-size: 5rem;
    margin-bottom: 0;
}
.home-content{
    max-width: 30rem;
    display: flex;
    flex-direction: column;
}
.home .start-btn{
    margin-left: 23rem;
}
.popup-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 15rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    padding: 3rem 2rem;
    border-radius: 3rem
}

.popup-info h2{
    margin-top: 0;
    text-align: center;
}
.popup-info-active{
    opacity: 1;
    pointer-events: auto;
}
.popup-info .info{
   margin-bottom: 1rem;
   display: flex;
}
.popup-info .sub_title{
    margin-top: 1rem;
    font-size: 1rem;
}

.popup-info .btn-group{
    display: flex;
    justify-content: space-between;
}
.quiz-section{
    position: relative;
    left: -60%;
    width: 100%;
    height: 100vh;
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
}
.quiz-section-active{
    left: 0;
}
.quiz-section .quiz-box{
    position: relative;
    width: 40rem;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: 3s ease;
    transition-delay: 0s;
}
.quiz-section .quiz-box-active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}
.quiz-section h1{
    text-align: center;
}
.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}
.quiz-header span{
    font-weight: 500;
}
.quiz-header .sub_title{
    font-size: 1.5rem;
    color: var(--Blue01);
    font-weight: 600;
}
.quiz-header .header-score{
    background-color: var(--Blue03);
    color: var(--White);
    padding: .5rem 1rem;
    border-radius: 1rem;
}
.option{
    padding: .8rem;
    width: 100%;
    background-color: white;
    cursor: pointer;
    margin: 0.5rem 0;
    border-radius: 1rem;
    transition: .1s ease;
    transform: scale(.95);
}

.option:hover{
    background-color: var(--Blue02);
    color: var(--White);
    transform: scale(1);
}
.option-list{
    height: 13rem;
}
.option-list .correct{
    background-color: transparent;
    color: green;
    border: 1px solid green;
}
.option-list .incorrect{
    background-color: transparent;
    color: red;
    border: 1px solid red;
}
.option-list .option-disabled{
    pointer-events: none;
}
.nextbtn-disabled{
    pointer-events: none;
    opacity: 0.5;
}

.quiz-section .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 40rem;
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.quiz-section .result-box-active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.quiz-footer{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quiz-footer .next-btn{
    margin-top: 0;
}
.quiz-footer .question-total{
    color: var(--Blue01);
    font-size: 1.2rem;
    font-weight: 600;
}

.result-box .percentage-container{
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.percentage-container .circular-progress{
    position: relative;
    width: 9rem;
    height: 9rem;
    background: conic-gradient(#90ee90 3.6deg, rgba(255, 255, 255, .1) 0deg);
    border-radius:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage-container .circular-progress::before{
    content:'';
    position: absolute;
    width: 7rem;
    height: 7rem;
    background: black;
    border-radius: 50%;
}
.circular-progress .progress-value{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
}
