:root{
    --White: #FFFFFF;
    --Gray01: #DEDEDE;
    --Blue01: #8EB4D9;
    --Blue02: #0B71D7;
    --Blue03: #44688B;
    --Blue04: #023850;
    --Yellow: #F7D55B;
    --x: 1100px;
}

*{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--Gray01);
    font-family: 'Josefin Sans';
}

main{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.main-content{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 70rem;
}
h3{
    color: var(--Blue03);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5rem;
}
p{
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.5rem;
}

.plastic-intro-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50rem;
    margin-bottom: 20rem;
    gap: 200px;
}

.plastic-intro-section .content{
    width: 20rem;
    background-color: var(--White);
    border-radius: 25px;
    padding: 3.1rem ;
    padding-top: 3.8rem;
    padding-bottom: 2.1rem;
    min-width: 375px;
}
.plastic-intro-section .content h3{
    margin-bottom: 1rem;
}
.plastic-intro-section .content .marine-species{
    margin: 4rem 1rem 0 1rem;
    display: flex;
    width: 100%;
    height: 4.3rem;
    justify-content: right;
    gap: 0.5rem;
}

.plastic-intro-section img{
    max-width: 30rem;
}

.animal-intro-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67rem;
    width: 100%;
}
.animal-intro-section .background-wave{
    position: absolute;
    z-index: -18;
}

.animal-intro-section .background-wave-down{
    position: absolute;
    z-index: -19;
    transform: rotate(0.5turn);
    opacity: 0.5;
    width: 100%;
    margin-bottom: -1rem;
}

.animal-intro-section .main-content img{
    width: 50%;
    right:0;
}
.animal-intro-section .main-content .content{
    width: 20rem;
    padding: 0 10px;
}

.plastic-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10rem;
    padding-top: 40%;
    gap: 200px;
}
.background-blue-gray{
    position: absolute;
    background: linear-gradient(var(--Blue01), var(--Gray01));
    z-index: -20;
    height: 150%;
    width: 100%;
    margin-top: 110%;
}

.plastic-section img{
    width: 35rem;
}

.plastic-section .content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}
.plastic-section .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Blue03);
    background-color: var(--Gray01);
    border-radius: 50%;
    height: 22.5rem;
    width: 22.5rem;
    margin-bottom: 30px;
}
.content1 h3{
    margin-bottom: 25px;
    text-align: center;
}
.content1 p{
    width: 75%;
}
.plastic-section .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--White);
    background-color: var(--Blue01);
    border-radius: 50%;
    height: 22.5rem;
    width: 22.5rem;
    margin-bottom: 30px;
}
.content2 h3{
    color: var(--White);
    margin-bottom: 25px;
    text-align: center;
}
.content2 p{
    width: 75%;
}
.plastic-section .main-content{
    gap:0;
}
.plastic-section a{
    background-color: var(--White);
    border-radius: 50px;
    padding: 0.7rem 17%;
    text-decoration: none;
    color: var(--Blue04);
}
.plastic-section a:hover{
    background-color: var(--Yellow);
    color: var(--White);
}

footer{
    margin-top: 7rem;
    height: 18rem;
    text-align: center;
}

footer hr{
    width: 70%;
    margin-left: 15%;
}
.social-media-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--White);
    border-radius: 50px;
    height: 2rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    width: 17.5rem;
    gap: 13px;
}

h4{
    color: var(--Blue03);
    margin-right: 1rem;
}



/*Slide contents*/
.slider-container{
    width: var(--x);
}
.slider{
    width: 100%;
    overflow: hidden;
}
.slide-wrapper{
    display: flex;
    width: calc(3 * var(--x));
    /*transition: 0.5s ease-in-out;*/
    transition: 0.5s;
}

.slide{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
    width: var(--x);
    aspect-ratio: 2/1;
    user-select: none;
    padding: 0 50px;
    margin: 0 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.slide.active{
    opacity: 1;
    transition: opacity 1s ease-in;
}
.context{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 40px 0 10px;
}
.slide img{
    width: 100%;
}

.slide h3{
    margin-bottom: 2rem;
}


/*indicator*/
.indicator {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  
  .indicator .btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: var(--Blue01);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .btn.active {
    width: 30px;
    background: var(--Gray01);
  }

/*logo*/
.header-js{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

.left{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
} 

.logo-area{
    background: url("../../image/logo-bg.svg") no-repeat left top;
    background-size: contain;
    width: 13.542vw;
}

.logo-padding{
    position: relative;
    padding-top: 40%;
}

.logo-body{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.logo{
    display: inline-block;
    width: 5.5555555556vw;
    margin: 0.875rem 0 0 2.5rem;
}

.logo .img{
    display: block;
    width: 100%;
}
footer .logo{
    margin: 2rem 0;
}

/*@media*/
@media screen and (min-width: 1920px) {
    .logo{
        margin: 1.1375rem 0 0 3.25rem;
    }
    footer .logo{
        margin:1rem 0;
    }

    .right{
        top: 1.1375rem;
        right: 3.25rem;
    }

    .menu-btn{
        width: 3.0875rem;
        height: 3.0875rem;
    }

    .ri-menu-line{
        font-size: 1.3rem;
    }
}

@media (max-width: 1200px){
    :root{
        --x: 900px;
    }
}
@media (max-width: 950px){
    :root{
        --x: 700px;
    }
    .indicator .btn{
        height: 15px;
        width:15px;
    }
}
@media (max-width: 720px){
    :root{
        --x: 480px;
    }
    .slide{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        place-items: unset;
        row-gap: 20px;
        aspect-ratio: 4/5;
        padding: 40px 20px 20px;
    }
    .context{
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .slide img{
        width: 60%;
        margin: auto auto;
    }
    .indicator{
        margin-top: 15px;
    }
}
@media (max-width: 530px){
    :root{
        --x: 320px;
    }
    .slide{
        aspect-ratio: 3/4;
        padding: 40px 15px 20px;
    }
    .slide img{
        width: 80%;
    }
}
