:root{
    --White: #FFFFFF;
    --Gray01: #DEDEDE;
    --Blue01: #8EB4D9;
    --Blue02: #0B71D7;
    --Blue03: #44688B;
    --Blue04: #023850;
    --Yellow: #F7D55B;
    --x: 1200px;
}

body{
    background-color: var(--Gray01);
    font-family: 'Josefin Sans';
}

/* Header Section */
.header-js{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

.logo-left{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
} 

.logo-area{
    background: url("../../image/logo-bg.svg") no-repeat left top;
    background-size: contain;
    width: 13.542vw;
}

.logo-padding{
    position: relative;
    padding-top: 40%;
}

.logo-body{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.logo{
    display: inline-block;
    width: 5.5555555556vw;
    margin: 0.875rem 0 0 2.5rem;
}

/* plastic-intro-section */

.plastic-intro-section{
    position: relative;
}

.plastic-intro-section>img{
    position: absolute;
    left: 4.875rem;
    top: 20rem;
    width: 36.125rem;

}

.plastic-intro-section .padding{
    padding-top: 8rem;
    padding-bottom: 6.25rem;
    padding-left: 15rem;
    padding-right: 8.375rem;
}

.column{
    display: flex;
    justify-content: flex-start;
    gap: 2.1rem;
}

/* column-left */
.column .left{
    width: 27.625rem;
}

.section-title{
    display: flex;
    align-items: center;
    margin-bottom: .9375rem;
    font-size: 2.1rem;
    letter-spacing: .2rem;
}

.section-title h1 span:nth-child(2){
    margin-left: 1rem;
}

.txt{
    line-height: 2;
    font-size: 1.2rem;
}

/* column right */
.column .right{
    flex: 1;
    padding-top: 4rem;
}

.sub-title{
    font-size: 1.6rem;
    line-height: 2;
    margin-bottom: 1.875rem;
}

/* img-wrapper*/
.img-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 2.875rem;
}

.img-wrapper .img-bg{
    width: 7rem;
    height: 7rem;
    position: relative;
}

.img-bg .circle{
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: .4s ease-out;
}

.circle-small{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #0B71D7;
    position: absolute;
    color: #fff;
    opacity: 0;
    bottom: .2rem;
    right: -0.5rem;
    transition: .4s ease-out;
    z-index: 1;
}

.seagull{
    background-color: var(--Yellow);
}

.whale{
    background-color: #BBBBBB;
}

.circle-small .ri-arrow-right-up-line{
    font-size: 0.6rem;
    position: absolute;
    opacity: 0;
    left: 0.2rem;
    top: 0.15rem;
    transition: .4s ease-out;
}

.img-bg:hover .circle{
    transform: scale(7);
    opacity: 1;
}

.img-bg:hover .circle-small{
    opacity: 1;
    transform: scale(3);
}

.img-bg:hover .ri-arrow-right-up-line{
    opacity: 1;
}


.img-bg img{
    width: 100%;
    margin: auto;
    transition: .4s ease-out;
}

.img-bg:first-child:hover img:first-of-type{
    transform: scale(1.3) translate(.5rem,-.5rem);
}
.img-bg:nth-child(2):hover img:first-of-type{
    transform: scale(1.3) translate(-.5rem,-.5rem);
}
.img-bg:last-child:hover img:first-of-type{
    transform: scale(1.3) translate(-.5rem,.5rem);
}

/* animal-intro-section */
.animal-intro-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url(../../image/wave.svg) no-repeat top center;
    background-size: cover;
}


/*Slide contents*/
.slider-container{
    width: var(--x);
    padding-top: 12rem;
}

.slider{
    width: 100%;
    overflow: hidden;
}

.slide-wrapper{
    display: flex;
    width: calc(3 * var(--x));
    transition: 0.5s ease-in-out;
    transition: 0.5s;
}

.slide{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
    width: var(--x);
    aspect-ratio: 2/1;
    user-select: none;
    padding: 0 50px;
    margin: 0 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.slide.active{
    opacity: 1;
    transition: opacity 1s ease-in;
}
.context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 0 10px;
    height: 100%;
}

.context h3{
    font-size: 3rem;
}

.context p{
    font-size: 1.5rem;
    line-height: 1.5;
}

.slide img{
    width: 100%;
}

.slide h3{
    margin-bottom: 2rem;
}


/*indicator*/
.indicator {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  
  .indicator .btn {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 8px;
    border-radius: 15px;
    background: var(--Blue01);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .btn.active {
    width: 35px;
    background: var(--Gray01);
  }

/* .plastic-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10rem;
    padding-top: 40%;
    gap: 200px;
} */
/* .background-blue-gray{
    position: absolute;
    background: linear-gradient(var(--Blue01), var(--Gray01));
    z-index: -20;
    height: 150%;
    width: 100%;
    margin-top: 110%;
} */

/* .plastic-section img{
    width: 35rem;
} */

/* .plastic-section .content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
} */
/* .plastic-section .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Blue03);
    background-color: var(--Gray01);
    border-radius: 50%;
    height: 22.5rem;
    width: 22.5rem;
    margin-bottom: 30px;
} */
/* .content1 h3{
    margin-bottom: 25px;
    text-align: center;
} */
/* .content1 p{
    width: 75%;
} */
/* .plastic-section .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--White);
    background-color: var(--Blue01);
    border-radius: 50%;
    height: 22.5rem;
    width: 22.5rem;
    margin-bottom: 30px;
} */
/* .content2 h3{
    color: var(--White);
    margin-bottom: 25px;
    text-align: center;
} */
/* .content2 p{
    width: 75%;
} */
/* .plastic-section .main-content{
    gap:0;
} */
/* .plastic-section a{
    background-color: var(--White);
    border-radius: 50px;
    padding: 0.7rem 17%;
    text-decoration: none;
    color: var(--Blue04);
} */
/* .plastic-section a:hover{
    background-color: var(--Yellow);
    color: var(--White);
} */

/* footer{
    margin-top: 7rem;
    height: 18rem;
    text-align: center;
} */

/* footer hr{
    width: 70%;
    margin-left: 15%;
} */
/* .social-media-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* .social-media{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--White);
    border-radius: 50px;
    height: 2rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    width: 17.5rem;
    gap: 13px;
} */

/* h4{
    color: var(--Blue03);
    margin-right: 1rem;
} */







/* .logo .img{
    display: block;
    width: 100%;
} */
/* footer .logo{
    margin: 2rem 0;
} */

/*@media*/
/* @media screen and (min-width: 1920px) {
    .logo{
        margin: 1.1375rem 0 0 3.25rem;
    }
    footer .logo{
        margin:1rem 0;
    }

    .right{
        top: 1.1375rem;
        right: 3.25rem;
    }

    .menu-btn{
        width: 3.0875rem;
        height: 3.0875rem;
    }

    .ri-menu-line{
        font-size: 1.3rem;
    }
} */

/* @media (max-width: 1200px){
    :root{
        --x: 900px;
    }
} */
/* @media (max-width: 950px){
    :root{
        --x: 700px;
    }
    .indicator .btn{
        height: 15px;
        width:15px;
    }
} */
/* @media (max-width: 720px){
    :root{
        --x: 480px;
    }
    .slide{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        place-items: unset;
        row-gap: 20px;
        aspect-ratio: 4/5;
        padding: 40px 20px 20px;
    }
    .context{
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .slide img{
        width: 60%;
        margin: auto auto;
    }
    .indicator{
        margin-top: 15px;
    }
} */
/* @media (max-width: 530px){
    :root{
        --x: 320px;
    }
    .slide{
        aspect-ratio: 3/4;
        padding: 40px 15px 20px;
    }
    .slide img{
        width: 80%;
    }
} */
